:root {
    --primary-color: #f3455a;
    --title-color: #333333;
    --content-color: #848484;
    --background-color: #edf2f4;
    --nunito-font: "Nunito", sans-serif;
    --poppins-font: "Poppins", sans-serif;
}

* {
    box-sizing: inherit;
    list-style-type: none;
    transition: all 0.2;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: var(--poppins-font);
    color: var(--title-color);
}

body {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--title-color);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.title {
    color: var(--title-color);
    font-family: var(--nunito-font);
    font-weight: 700;
    font-size: 4rem;
    margin: 50px 0;
    position: relative;
}

.title::after {
    content: "";
    height: 2px;
    position: absolute;
    left: 36.49%;
    right: 35.41%;
    top: 230%;
    bottom: 0%;
    background: #848484;
    border-radius: 44px;
}

.btn {
    padding: 8px 43px;
    border-radius: 15px;
}

.btn--primary {
    border: 3px solid transparent;
    background-color: var(--primary-color);
    color: #fff;
    margin-bottom: 10px;
}

.btn--primary:hover {
    background-color: #f5394f;
}

.btn--primary:active {
    /* border: 3px solid #fd5d706c; */
    box-shadow: 0px 0px 0px 6px #f5394f;
    transition: all 0.2s;
}

.btn--secondary {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    margin-bottom: 10px;
}

.btn--secondary:hover {
    background-color: #f5394f;
    color: #fff;
}

.btn--secondary:active {
    /* border: 3px solid #fd5d706c; */
    box-shadow: 0px 0px 0px 6px #f5394f;
    transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 2rem;
        margin: 40px 0;
    }
    .title::after {
        top: 150%;
    }
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}